/* in general style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
}



.sub_container{
    position: relative;
    height: 100vh;
}

/* Navbar style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 5em 0 0;
    background: #333;
    color: white;
}
.navbar .logo img{
    width: 8%;
    height: auto;
    margin-left: 3em;
}
.navbar .menu_icon{
    display: none;
    cursor: pointer;
    font-size: 2em;
}

.navbar .menu_icon .bar{
    width: 2em;
    height: 0.3em;
    background-color: black;
    margin: 5px 5px 0 0;
}

.nav_items{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.nav_items li a{
    text-decoration: none;
    color: white;
}
/* hero section */
.hero_section{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/images/bg2.webp') center center/cover;
    background-repeat: no-repeat;
    color: white;
}
.hero_content{
    background: rgba(0,0,0,0.3);
    padding: 1em;
}
.hero_section h1{
    font-size: 3em;
    margin-bottom: 0.8em;
}
.hero_section p{
    font-size: 1.5em;
}

/* cards Section */

.cards_section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    padding: 2.5em;
}

.card{
    background-color: white;
    padding: 0.8em;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
    text-align: center;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.card h2{
    margin: 1em 0;
    font-size: 1.8em;
}

.card p{
    font-size: 1em;
    color: #666;
}

/* Media queries for responsive style */


@media (max-width: 767.99px) {
    .nav_items {
        display: none;
        flex-direction: column;
    }
    .navbar{
       position: relative;
        padding: 0 2em;
        z-index: 100;
        background-color: transparent;
       
    }
    .navbar .logo img{
        width: 20%;
      
    }
    .navbar .menu_icon{
        display: block;
    }

    .hero_section{
        position: absolute;
        top: 0;
       height: 100vh;
        width: 100%;
        
    }
    .hero_section h1{
        font-size: 1.5em;
    }
    .hero_section p{
        font-size: 1em;
    }
    .navbar .menu_icon .bar{
        background-color: white;
    }

    .active{
        display: block;
        top: 100%;
        right:10%;
        position: absolute;
    }


}



